*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
main{
    width: 100%;
    margin: auto;
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width:375px) {
    main{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width:1440px) {
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
.wrap{
    width: 800px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background-color: hsl(0, 0%, 95%);
}
#box{
    padding: 2em;
}
.sedan{
    background-color: hsl(31, 77%, 52%);
    
}
.suv{
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    background-color: hsl(179, 100%, 13%);
}
.texts{
    font-family: "Lexend deca", sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 25px;
}

h2{
    font-family:"Big Shoulders Display", cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    margin-top: 10px;
}
.btn{
    border-radius: 5px;
    margin-top: 3em;
    background-color: hsl(0, 0%, 95%);
    border:2px solid transparent ;
}
button:active{
    background-color: transparent;
    
}
